//<МИКСИНЫ>==============================================================================================================
@import "./assets/_mixins.sass"
//</МИКСИНЫ>=============================================================================================================

//<ШРИФТЫ>===============================================================================================================
@import "./assets/_fonts.sass"
//</ШРИФТЫ>==============================================================================================================

//<ПЕРЕМЕННИЕ>===========================================================================================================
@import "./assets/_variables.sass"
//</ПЕРЕМЕННИЕ>==========================================================================================================

//<ОБОЛОЧКА>=============================================================================================================
.wrapper
  width: 100%
  min-height: 100vh
  overflow: hidden

//</ОБОЛОЧКА>============================================================================================================

//<ОСНОВНАЯ СЕТКА>=======================================================================================================
.container
  max-width: $maxWidth + px
  margin: 0 auto
  width: 100%

  @media (max-width: $md1+px)
    max-width: 1450px

  @media (max-width: $md2+px)
    max-width: 1180px

  @media (max-width: $md3+px)
    max-width: 962px

  @media (max-width: $md4+px)
    max-width: 738px

  @media (max-width: $md5+px)
    max-width: 530px

  @media (max-width: $md6+px)
    max-width: 440px

  @media (max-width: $md7+px)
    max-width: 100%
    padding: 0 15px

//</ОСНОВНАЯ СЕТКА>======================================================================================================

//<ОСНОВНОЙ БЛОК>========================================================================================================

*
  box-sizing: border-box

html
  font-family: 'Gilroy'
  font-style: normal
  line-height: 150%
  color: #000000

a
  color: #000000
  text-decoration: none

.fit-img
  overflow: hidden
  &>img
    width: 100%
    max-height: 100%
    object-fit: cover

//</ОСНОВНОЙ БЛОК>=======================================================================================================

//<ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛЕМЕНТОВ>=========================================================================
@import "./modules/_header.sass"
@import "./modules/_main-banner.sass"
@import "./modules/_skills.sass"
@import "./modules/_footer.sass"
@import "./assets/_media.sass"
//</ПОДКЛЮЧЕНИЯ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЕЛЕМЕНТОВ>========================================================================
