@media (max-width: 1710px)
    .main-banner__heading
        span
            font-size: 220px

    .skills
        &__descr-block
            margin: -73px 0 0 0

@media (max-width: 1480px)
    .header
        &__subtitle
            margin-left: 60px
        &__contact
            margin-left: 30px
        &__menu
            display: none

    .burger
        &__icon
            margin-left: 35px

    .main-banner__heading
        span
            font-size: 180px

    .skills
        &__descr-block
            max-width: 600px

    .skills-preview-block
        &__elem
            max-width: 30%

@media (max-width: 1210px)
    .main-banner__heading
        span
            font-size: 140px

    .skills
        &__wrap
            display: flex
            flex-direction: column
            align-items: center
        &__descr-block
            max-width: 100%
            margin: 0
            padding: 75px 72px 75px 80px
        &__preview-block
            width: 100%

@media (max-width: 992px)
    .header
        &__wrap
            justify-content: space-between
        &__subtitle
            margin-left: 0
            flex-grow: 1
            text-align: center
        &__contact
            display: none

    .burger
        &__icon
            margin-left: 0
        &__menu
            transform: translate(-100%, 106%)
        &-menu
            &__contact
                display: flex

    .main-banner
        height: 400px
        &__heading
            span
                font-size: 110px
                &:first-child
                    margin: 0 0 0 -17px

@media (max-width: 768px)
    .header
        &__subtitle
            display: none

    .main-banner
        background-image: url('../img/main-banner.png')
        background-repeat: no-repeat
        background-attachment: fixed
        background-position: center
        background-size: cover
        &__wrap
            background-image: none
        &__heading
            span
                font-size: 80px

    .skills
        &__descr-block
            padding: 45px 50px 45px 50px
            &::after
                top: 35px
                right: 35px

    .burger
        &-menu
            &__subtitle
                display: block

@media (max-width: 568px)
    .main-banner
        &__heading
            span
                font-size: 65px
                &:last-child
                    margin: 0 0 0 18px

    .run-line-block
        padding: 40px 0

@media (max-width: 470px)
    .main-banner
        &__heading
            span
                font-size: 45px
                &:first-child
                    margin: 0 0 0 5px

    .skills
        &__descr-block
            button
                padding: 18px 40px

    .burger
        &__menu
            transform: translate(-96%, 106%)

@media (max-width: 370px)
    .burger
        &__menu
            transform: translate(-87%, 106%)
