@media (max-width: 1480px) 
    .header
        &__subtitle
            margin-left: 60px
        &__contact
            margin-left: 30px
        &__menu
            display: none

    .burger
        &__icon
            margin-left: 35px

@media (max-width: 992px) 
    .header
        &__wrap
            justify-content: space-between
        &__subtitle
            margin-left: 0
            flex-grow: 1
            text-align: center
        &__contact
            display: none

    .burger
        &__icon
            margin-left: 0

@media (max-width: 768px) 
    .header
        &__subtitle
            display: none

