.main-banner
    position: relative
    height: 600px
    .container
        position: relative
        height: 100%
    &__wrap
        display: flex
        align-items: center
        justify-content: start
        width: 100%
        height: 100%
    &__img-block
        position: absolute
        top: 0
        left: 0
        z-index: -1
        width: 100%
        height: 100%
        overflow: hidden
        &>img
            max-width: 100%
            width: 100%
            height: 100%
            object-fit: cover



.main-banner__heading
    span
        display: block
        font-weight: 700
        font-size: 11.4vw
        line-height: 74.5%
        color: #FFFFFF
        &:first-child
            margin: 0 0 0 -33px
        &:last-child
            margin: 0 0 0 38px

@media (min-width: 2291px) 
    .main-banner__heading
        span
            font-size: 260px